body{
  background-color: blue;
}
main{

}
h1{
  text-align: center;
  margin-right: 100px;
  border-right:30px solid black;
  color:#000000;
}
h3{
  text-align:center;
  margin-left:50px;
  border-left:30px solid black;
  color:#000000;
}
#title{





}
.article{



}

.social{




}
