body{
  background-color: blue;
}
main{

}
h1{
  text-align: center;
}
h3{
  text-align:center;
  margin-left:15px;
  border-left:5px solid black;
  color:#000000;
}
#title{




}
.article{



}

.social{




}
